*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Bebas Neue", sans-serif;
    height: 9000px;

}
.fontsan{
    font-family: "Pacifico", cursive;
}
/* start header */
header{
    background: linear-gradient(#00000042,#0000008a) , url(../image/main.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_box{
    width: 85%;
    margin: 0 auto;
}
.header_box h3{
    color: #fffffff9;
}
.header_title{
    color: #ffb91a;
    font-size: 35px;
}
.header_title1{
    font-size: 95px;
    margin: 50px 0;
    line-height: 110px;
    letter-spacing: 1px;
}
.btn_header{
    background-color: #a5141a;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 40px;
    letter-spacing: 1px;
    border-radius: 7px;
    transition-duration: 0.5s;
}
.btn_header:hover{
    background-color: #ffb91a;
}
/* end header */
/* start product */
.product{
    padding: 100px 0;
}
.product_box{
    width: 85%;
    margin: 0 auto;
}
.product_itmes{
    display: flex;
    justify-content: space-between;
}
.product_itme{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 23px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition-duration: 0.5s;
}
.product_itmes img{
    width: 100px;
}
.product_itmes span{
    margin-top: 30px;
    font-size: 20px;
}
.product_itme:hover{
    border-color: #e0bb16;
}
/* end product */
/* start offer */
.offer{
    background-image: url(../image/special-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    color: #fff;
}
.offer_box{
    width: 85%;
    margin: 0 auto;
}
.offer_itmes{
    display: flex;
    justify-content: space-between;
}
.offer_itme_left{
    width: 49%;
}
.offer_itme_right{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.offer_item{
    background-image:  linear-gradient(#00000082,#00000082),url(../image/special-01.jpg);
    background-size: cover;
    background-position: center;
    padding: 120px 40px;
    border-radius: 15px;
}
.offer_item_card{
    padding: 20px 40px;
    background-image:linear-gradient(#00000082,#00000082) ,url(../image/special-02.jpg);
    background-size: cover;
    background-position: center;
}
.box_image{
    background-image:linear-gradient(#00000082,#00000082), url(../image/br.png);
    background-size: cover;
    background-position: center;
}
.offer_item_card span{
    margin-bottom: 10px;
}
.offer_item h3{
    font-size: 50px;
   letter-spacing: 2px;
    width: 40%;
}
.offer_item p{
    font-size: 14px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.641);
    width: 65%;
    padding: 10px 0;
}
.offer_item span{
    color: #e0bb16;
    font-size: 20px;display: block;
    padding: 10px 0;
    margin-bottom: 30px;
}
/* end offer */
/* start about */
.about{
    padding: 150px 0;
}
.about_box{
    
    width: 85%;
    margin: 0 auto;
}
.about_items{
    display: flex;
    justify-content: space-between;
}
.about_item_image{
    width: 70%;
}
.about_item_text{
    width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   padding: 70px;
}
.about_item_text h3{
    color: #a5141a;
    font-size: 27px;
    padding: 10px 0;
}
.about_item_text h2{
    color: black;
    font-size: 45px;
    letter-spacing: 2px;
    padding: 10px 0;
    width: 100%;
}
.about_item_text p{
    color: #6b6b6b;
    margin: 20px 0;
    letter-spacing: 1px;
    width: 100%;
    font-size: 15px;
}
/* end about */
/* start Deliver */
.Deliver{
    background-image: linear-gradient(#0000001d,rgba(0, 0, 0, 0.2)) ,url(../image/delivery.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Deliver h3{
    color: #a5141a;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 1px;
  
}
.Deliver h2 {
   font-size: 100px;
   color: #fff;
   letter-spacing: 4px;
   width: 50%;
   text-align: center;
   margin-bottom: 50px;
    
}
/* end Deliver */
/* start achivement */
.achivement{
    background-color: #ffb91a;
}
.achivement_box{
    width: 85%;
    margin: 0 auto;
}
.achivement_itmes{
    background-color: #ffb91a;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    color: white;
}
.achivement_itme{
    width: 30%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.achivement_itme h3{
    font-size: 50px;
    color: #fff;
    margin: 10px 0;
    letter-spacing: 2px; 
}
.achivement_itme p{
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
}
/* end achivement */
/* start dish */
.dish{
    padding: 110px 0;
}
.dish_box{ 
    width: 85%;
    margin: 0 auto;
}
.dish_items{
    display: flex;
    justify-content: space-between;
}
.dish_item_text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   padding: 70px 0;
}
.dish_item_text img{
    width: 630px;
}
.dish_item_red{
    background-color: #a5141a;
    width: 41%;
    border-radius: 15px;
    color: #ffffff;
    padding: 60px 50px;
}
.dish_item_red h2{
    font-size: 50px;
    letter-spacing: 1px;
}
.dish_text{
    padding: 15px 0;
}
.dish_text h3{
    font-size: 25px;
   letter-spacing: 2px;
}
.dish_text p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.71);
    padding: 10px 0;
    letter-spacing: 1px;
}
/* end dish */
/* start today */
.today{
    background-color: #f8f8f8;
    padding: 130px 0;
}
.today_box{
    width: 85%;
    margin: 0 auto;
}
.today_item_text{
    text-align: center;
}
.today_item_text h3{
    color: #a5141a;
    font-size: 25px;
    padding: 20px 0;
}
.today_item_text h2{
    color: #0e0e0e;
    font-size: 45px;
    letter-spacing: 1px;
    padding: 20px 0;
}
.today_item_text p{
    color: #6b6b6b;
    font-size: 20px;
    padding: 15px 0;
}
.today_item_test{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.today_item_div{
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
    border-radius: 15px;
    width: 49%;
    padding: 25px 0;
    margin-top: 20px;
    display: flex;
    border: 2px solid transparent;
    transition-duration: 0.5s;
}
.today_item_div:hover{
    border-color: #e0bb16;
}
.today_item_div_img img{
   width: 220px;
   padding: 0 30px;
}
.today_item_div_text{
    padding: 10px 70px;
}
.today_item_div_text h3{
    color: #383838;
    font-size: 25px;
    padding: 10px 0;
    letter-spacing: 1px;
    width: 110%;
}
.today_item_div_text h2{
    color: #a5141a;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 0;
}
.today_item_div_text p{
    color: #6b6b6b;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 5px 0;
    width: 90%;
}
.today_item_div_text a{
    text-decoration: none;
    color: #383838;
    font-size: 19px;
    letter-spacing: 1px;
}
/* end today */
/* start favorite */
.favorite{
    background-image: linear-gradient(#00000042, #0000008a) ,url(../image/fav-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.favorite h3{
    color: #a5141a;
    font-size: 27px;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 10px 0;
}
.favorite h2 {
   font-size: 100px;
   color: #fff;
   letter-spacing: 4px;
   width: 80%;
   text-align: center;
   margin-bottom: 50px;
}
/* end favorite */
/* start Customers */
.Customers{
    background-image: url(../image/special-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 130px 0;
}
.Customers_box{
    width: 85%;
    margin: 0 auto;
}
.Customers_item_text{
    text-align: center;
}
.Customers_item_text h3{
    color: #a5141a;
    font-size: 27px;
    padding: 40px 0;
}
.Customers_item_text h2{
    color: #0e0e0e;
    font-size: 50px;
    letter-spacing: 1px;
    padding: 20px 0;
}
.Customers_item_text p{
    color: #6b6b6b;
    font-size: 20px;
    padding: 15px 0;
}
.Customers_item_test{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.Customers_item_div{
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
    border-radius: 15px;
    width: 49%;
    padding: 25px 0px;
    margin-top: 20px;
    
    
}
.Customers_item_div_img{
    display: flex;
    margin: 0 200px;
}
.Customers_item_div_img img{
   width: 80px;
   margin: 0 20px;
   border-radius: 520px;
   
}
.Customers_item_div_img span{
    color: #a5141a;
    font-size: 19px;
    padding: 20px 0;
    letter-spacing: 1px;
}
.Customers_item_div_text{
    padding: 5px 0px;
}
.Customers_item_div_text p{
    color: #6b6b6b;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 31px;
    text-align: center;
    padding: 1px 30px;
    width: 89%;
}
.Customers_item_div_text a{
    text-decoration: none;
    color: #383838;
    font-size: 19px;
    letter-spacing: 1px;
}
/* end Customers */
/* start free */
.free{
    padding: 100px 0;
}
.free_box{ 
    width: 85%;
    margin: 0 auto;
}
.free_items{
    display: flex;
    justify-content: space-between;
    margin-right: 250px;
    
}
.free_item_text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   padding: 70px 0;
}
.free_item_text img{
    width: 430px;
}
.free_item_red{
    width: 40%;
    border-radius: 15px;
    padding: 60px 0px;
}
.free_item_red h2{
    font-size: 50px;
    letter-spacing: 1px;
    width: 110%;
    padding: 15px 0;
}
.free_text{
    padding: 15px 0;
}
.free_item_red h3{
    color: #a5141a;
    font-size: 25px;
   letter-spacing: 2px;
   padding: 20px 0;
   
}
.free_item_red p{
    font-size: 15px;
    color: #6b6b6b;
    line-height: 30px;
    letter-spacing: 1px;
    width: 130%;
}
/* end free */
/* start best */
.best{
    background-color: #a5141a;
    padding: 40px 0;
}
.best_box{
    width: 85%;
    margin: 0 auto;
}
.best_itmes{
    display: flex;
    justify-content: space-between;
}
.best_itme_text{
    width: 49%;
}
.best_itme_text h3{
    font-size: 25px;
    letter-spacing: 1px;
    color: #fff;
}
.best_itme_tag a{
    background-color: #ffb91a;
}
.best_itme_tag :hover{
    background-color: white;
    color: black;
}

/* end best */
/* start footer */
.footer{
    padding: 100px 0;
}
.footer-box{
    width: 85%;
    margin: 0 auto;
}
.footer-items{
    display: flex;
    justify-content: space-between;
}
.footer-item{
    width: 24%;
    height: 300px;
    padding: 20px 0;
}
.footer-item-title{
    color: #0e0e0e;
    font-size: 20px;
    padding: 0 9px;
    padding-bottom: 25px;
    letter-spacing: 1px;
}

.footer-item-about p{
    color: #6b6b6b;
    font-size: 15px;
    padding: 0 9px;
    letter-spacing: 2px;
    line-height: 25px;
    margin-bottom: 20px;
}
.footer-item-about span{
    color: #131313;
    font-size: 15px;
    padding: 0 9px;
    line-height: 30px;
}
.footer-item-about ul{
    color: #6b6b6b;
    font-size: 15px;
    margin: 0 20px;
    line-height: 35px;
    letter-spacing: 2px;
}
.footer-item-about a{
    color: #000000;
    text-decoration: none;
}
.footer-ul{
    list-style: none;
}
.footer-ul :hover{
    color: #a5141a;
    text-decoration: underline;
}
.footer-li{
    list-style: none;
    display: flex;
}
/* end footer */